/* Globals */
.black{
    background-color: black;
}

.blue{
    color: cornflowerblue;
}

.grey{
    color: grey;
}

.badgePill{
    border-color: cornflowerblue;
    background-color: black;
    color: cornflowerblue;
    border: 1px solid;
    font-size: medium;
}

.breadCrumbs{
    font-size:x-large;
}


/* Specifics */
#stickyColumn{
    position: fixed;
}

/* Mobile */

@media (max-width: 575.98px) { 
    .breadCrumbs{
        font-size:large;
    }
    #stickyColumn{
        position:relative;
    }
    #yearsWorked > h5{
        text-align: left;
    }
}
